.forgot-pswrd {
  background: linear-gradient(to right, rgba(57, 49, 175, 1) 0, rgba(0, 198, 255, 1) 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  display: inline-block;
  background-color: white;
  padding: 40px 50px;
  border-radius: 10px;
}

.input-wrapper {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 0 10px;
}

.btn-primary {
  margin: 0 auto;
  display: block;
}

.input-wrapper label {
  margin-top: .5rem;
}

.input-wrapper input {
  border: unset;
}

.input-wrapper input:focus {
  outline: unset;
}