#regForm {
  /* background-color: #ffffff;
  margin: 100px auto; */
  /* font-family: Raleway; */
  padding: 40px;
  /* width: 70%; */
  min-width: 300px;
}

h1 {
  text-align: center;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

input[type="file"] {
  border: unset;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  /* background-color: #ffdddd; */
  border: 1px solid red !important;
  border-radius: 0.4285rem;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  /* font-family: Raleway; */
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
  /* background-color: #bbbbbb; */
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #00f2c3;
  /* opacity: 1; */
}

#submit {
  display: none;
}

.files label {
  margin-bottom: 0;
}

/* .files div {
  margin-bottom: 10px;
} */

.files {
  display: flex;
  flex-direction: column;
}

.files .custom-file {
  margin-bottom: 40px;
  width: max-content;
  cursor: pointer;
}